<div class="div-center-position">
    <br>
    <h2 style="text-align: center;  ">Welcome to CSMS</h2>
    <h4>Hi there</h4>
    <!--
        <h5>Welcome to our "Customer Service Management System or CSMS" Portal</h5>
    -->
    <h5>Here You can make an Appointment according to Your convenient time Slots</h5>
    <h5>First things First, Every Customer needs to Create His/Her Account because if He/She makes an Appointment with any Technician then it might be create lots of Problems for the Company</h5>
    <br>
    <h6>Let's Create an Acount for Customer</h6>
    <h6>
        <ol>
            <li>Go to "Sign Up" button that is given in the Top Right Hand Corner or just click 
            <%= link_to "here", new_user_path %>
            </li>
            <li>Then fill al the required details in the "Sign Up" form </li>
            <li>After that click "Create User" Button</li>
            <li>That's it your Brand New Account is created into our Portal</li>
        </ol>
    </h6>
    <h6>If you want to create your Account as an Technician then please Contact to Our Admin so He/She can add you as a Technician</h6>
    <h6>If you want to create your Account as an Admin then please Contact to Head of Admin so He/She can add you as a Admin</h6>
    <br><br>
    <h5>Thanks and Regards</h5>
    <h5>Mohammad Shafqat Siddiqui</h5>
</div>